<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090290121721-9dv4eglq5kgcuib6nsm9ghbna318eq9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090290121721-9dv4eglq5kgcuib6nsm9ghbna318eq9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjDDc5uulS7IRfVxK9Jem4ut7v3xxY3U</string>
	<key>GCM_SENDER_ID</key>
	<string>1090290121721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiler.yogismarket</string>
	<key>PROJECT_ID</key>
	<string>yogis-market</string>
	<key>STORAGE_BUCKET</key>
	<string>yogis-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090290121721:ios:de7fbbffeae42501175b28</string>
	<key>DATABASE_URL</key>
	<string>https://yogis-market.firebaseio.com</string>
</dict>
</plist>